@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%22");

:root {
  --branco: #fff;
  --amarelo: #efe60b;
  --preto: #000;
  --cinza1: #0000001a;
  --cinza2: #00000029;
  --cinza3: #d1d1d1;
  --cinza4: #0000004d;
  --cinza5: #818181;
  --cinza6: #707070;
  --cinza7: #000000e6;
  --azul: #1cd4e9;
  --azul-hover: #17b5c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: var(--azul);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--branco);
  transition: background, box-shadow 1s;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
}

header {
  background-image: url(../img/mobile/s1mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 40px;
}

header img {
  width: 228px;
  height: 57px;
  margin: 0 auto;
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

header h1 {
  text-align: center;
  color: var(--branco);
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 800;
}

header p {
  text-align: center;
  color: var(--branco);
  max-width: 65%;
  margin: 0 auto;
  line-height: 30pt;
  font-size: 24px;
}

header span {
  color: var(--amarelo);
}

header button {
  border-radius: 42px;
  padding: 10px;
  width: 420px;
  margin: 0 auto;
  height: 80px;
  font-size: 20px;
}

header button:hover {
  background-color: var(--azul-hover);
  box-shadow: 2px 2px 2px #ccc;
}

section {
  padding: 40px;
  margin-top: 60px;
}

section h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 70px;
}

section article {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 40px;
  box-shadow: 0px 0px 50px 0px #0000004f;
  height: 800px;
  justify-content: space-around;
}

section article p {
  font-size: 24px;
  font-weight: normal;
}

section article p:nth-child(2) {
  font-weight: bold;
}

section div {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--preto);
  padding: 60px 30px 30px 30px;
  margin-top: 40px;
  border-radius: 70px;
}

section div h5 {
  color: var(--amarelo);
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

section div p {
  color: var(--branco);
  text-align: center;
  margin-top: 20px;
}

footer {
  border-top: 40px solid var(--amarelo);
  background-color: var(--cinza7);
  border-bottom: 40px solid var(--amarelo);
  display: flex;
  padding: 40px;
  flex-direction: column;
}

.logos_rodape {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.logos_rodape img {
  width: 228px;
  height: 57px;
}

.logos_rodape div:nth-child(2) {
  display: flex;
  width: 35%;
  justify-content: space-around;
}

.logos_rodape div i {
  color: var(--branco);
}

.logos_rodape div i:nth-child(2) {
  color: #000000e6;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  align-self: center;
}

.contato_rodape {
  display: flex;
  margin-top: 40px;
  width: 100%;
}

.contato_rodape i {
  color: var(--amarelo);
  margin-right: 20px;
  align-self: center;
}

.contato_rodape span {
  color: var(--branco);
  font-size: 32px;
  margin-right: 30px;
}

.contato_rodape a {
  color: var(--branco);
  font-size: 32px;
  margin-right: 30px;
}

.contato_rodape a:nth-child(2) {
  border-right: 10px solid var(--white);
}

.local-rodape {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.local-rodape img {
  width: 32px;
  height: 32px;
  fill: var(--amarelo);
  align-self: center;
  margin-right: 20px;
}

.local-rodape a {
  display: flex;
  width: 100%;
  color: var(--branco);
  font-size: 32px;
}

.rodape-texto {
  margin: 30px 20px;
}

.rodape-texto p {
  margin-top: 20px;
  color: var(--branco);
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.rodape-texto p:nth-child(2) {
  color: var(--amarelo);
}

.rodape-texto p:nth-child(3) {
  color: var(--azul);
}

footer form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

footer form input {
  height: 100px;
  margin: 20px 0;
  font-size: 40px;
  text-transform: uppercase;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

footer form textarea {
  margin: 20px 0;
  font-size: 40px;
  text-transform: uppercase;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

footer form input::-webkit-input-placeholder,
footer form textarea::-webkit-input-placeholder {
  opacity: 0.4;
}

footer form button {
  height: 170px;
  margin: 20px 0 0 0;
  font-size: 70px;
  padding: 10px;
  text-transform: uppercase;
}
