@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%22");

:root {
  --branco: #fff;
  --amarelo: #efe60b;
  --preto: #000;
  --cinza1: #0000001a;
  --cinza2: #00000029;
  --cinza3: #d1d1d1;
  --cinza4: #0000004d;
  --cinza5: #818181;
  --cinza6: #707070;
  --cinza7: #000000e6;
  --azul: #1cd4e9;
  --azul-hover: #17b5c7;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: var(--azul);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--branco);
  transition: background, box-shadow 1s;
}
button:hover {
  background-color: var(--azul-hover);
  box-shadow: 2px 2px 2px #ccc;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

header {
  background-image: url(../img/mobile/s1mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

nav ul {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  padding: 5%;
  border-radius: 0 40px 40px 0;
  width: 50%;
}

nav ul li {
  border-bottom: 1px solid var(--branco);
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
}

nav ul li:last-child {
  border-bottom: none;
}

li a {
  color: var(--branco);
  font-weight: 200;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 80%;
}

nav img {
  width: 228px;
  height: 57px;
  margin: 0 auto;
}

#click_hamburguer {
  position: absolute;
  left: 40px;
  top: 40px;
  display: flex;
  flex-direction: column;
  height: 57px;
  justify-content: space-around;
  cursor: pointer;
}

.line {
  width: 4rem;
  height: 9px;
  border-radius: 15px;
  background-color: var(--branco);
}

#click_close {
  cursor: pointer;
}

.container_close {
  position: relative;
  top: 40px;
  left: 80%;
  margin-bottom: 80px;
}

.close_line {
  position: absolute;
  width: 4rem;
  height: 9px;
  border-radius: 15px;
  background-color: var(--branco);
  transform: rotate(45deg);
}

.close_line:last-child {
  transform: rotate(-45deg);
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 90vh;
}

header > div h1 {
  text-align: center;
  color: var(--branco);
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 800;
}

header > div p {
  text-align: center;
  color: var(--branco);
  max-width: 65%;
  margin: 0 auto;
  line-height: 30pt;
  font-size: 1.5rem;
}

header > div span {
  color: var(--amarelo);
}

header > div button {
  border-radius: 42px;
  padding: 10px;
  width: 420px;
  margin: 0 auto;
  height: 80px;
  font-size: 20px;
}

section {
  padding: 10% 40px;
  width: 90%;
  margin: 0 auto;
}

section h1 {
  text-transform: uppercase;
  font-size: 60px;
  padding-top: 40px;
  padding-bottom: 70px;
}

section > article {
  display: flex;
  flex-direction: column;
  background-color: var(--branco);
  box-shadow: 0px 0px 50px 0px #0000004f;
  justify-content: space-between;
  padding: 2%;
}

section > article > p {
  font-weight: normal;
  font-size: 12px;
  padding: 10px 0;
}

section > article p:nth-child(2) {
  font-weight: bold;
}

section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section div article {
  margin: 30px;
  padding: 30px;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 500px #000000;
  box-shadow: inset 0 0 500px #000000;
  background-size: 200%;
  background-position: center 40%;
}

.section-servicos > div {
  justify-content: space-between;
}

.section-servicos > div > article {
  border-radius: 33px;
  background-image: url(../img/mobile/s3ft1.png);
}

.section-servicos > div > article:nth-child(2) {
  background-image: url(../img/mobile/s3ft2.png);
}

.section-servicos > div > article:last-child {
  background-image: url(../img/mobile/s3ft3.png);
}

.section-diferenciais {
  margin-bottom: 10%;
}

.section-diferenciais > div {
  justify-content: space-between;
}

.section-diferenciais > div > article {
  border-radius: 51px;
  background-image: url(../img/mobile/s4ft1.png);
}

.section-diferenciais > div > article:nth-child(2) {
  background-image: url(../img/mobile/s4ft2.png);
}

.section-diferenciais > div > article:last-child {
  background-image: url(../img/mobile/s4ft3.png);
}

div > article > h5 {
  color: var(--amarelo);
  font-size: 30px;
}

div > article > img {
  height: 100px;
}

div > article > p {
  color: var(--branco);
  margin: 30px 0;
  font-size: 24px;
}

footer {
  display: flex;
  flex-direction: column;
  border-top: 40px solid var(--amarelo);
  background-color: var(--cinza7);
  border-bottom: 40px solid var(--amarelo);
  justify-content: space-between;
}

footer div {
  width: 100%;
}

footer div:nth-child(1) {
  padding: 20px 30px;
}

.logos_rodape {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.logos_rodape img {
  width: 228px;
  height: 57px;
}

.logos_rodape div:nth-child(2) {
  display: flex;
  width: 35%;
  justify-content: space-around;
}

.logos_rodape div i {
  color: var(--branco);
}

.logos_rodape div i:nth-child(2) {
  color: #000000e6;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  align-self: center;
}

.contato_rodape {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 90%;
}

.contato_rodape i {
  color: var(--amarelo);
  margin-right: 4%;
  align-self: center;
}

.contato_rodape span {
  color: var(--branco);
  font-size: 30px;
  margin: 0 10%;
}

.contato_rodape a {
  color: var(--branco);
  font-size: 25px;
}

.local-rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  margin: 40px auto 0 auto;
}

.local-rodape img {
  width: 30px;
  height: 30px;
  margin-right: 4%;
}

.local-rodape a {
  display: flex;
  width: 100%;
  color: var(--branco);
  font-size: 22px;
}

.rodape-texto {
  width: 100%;
}

.rodape-texto p {
  margin-top: 10%;
  color: var(--branco);
  text-align: center;
  font-weight: bold;
}

.rodape-texto p:nth-child(2) {
  color: var(--amarelo);
}

.rodape-texto p:nth-child(3) {
  color: var(--azul);
}

footer form {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: var(--cinza5);
  justify-content: space-between;
  width: 100%;
}

footer form input {
  height: 70px;
  margin: 20px 0;
  font-size: 30px;
  text-transform: uppercase;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

footer form textarea {
  margin: 20px 0;
  font-size: 30px;
  text-transform: uppercase;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

footer form input::-webkit-input-placeholder,
footer form textarea::-webkit-input-placeholder {
  opacity: 0.4;
}

footer form button {
  height: 70px;
  margin: 20px 0 0 0;
  font-size: 30px;
  padding: 10px;
  text-transform: uppercase;
}

@media only screen and (min-device-width: 992px) {
  .section-servicos > div > article {
    background-image: url(../img/web/s3ft1.png);
  }

  .section-servicos > div > article:nth-child(2) {
    background-image: url(../img/web/s3ft2.png);
  }

  .section-servicos > div > article:last-child {
    background-image: url(../img/web/s3ft3.png);
  }

  .section-diferenciais > div > article {
    background-image: url(../img/web/s4ft1.png);
  }

  .section-diferenciais > div > article:nth-child(2) {
    background-image: url(../img/web/s4ft2.png);
  }

  .section-diferenciais > div > article:last-child {
    background-image: url(../img/web/s4ft3.png);
  }
}

@media only screen and (min-width: 992px) {
  header {
    background-image: url(../img/web/s1ft1.png);
    background-size: cover;
    height: 100vh;
    display: block;
    padding: unset;
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: space-around;
    height: 10vh;
  }
  nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    top: unset;
    left: unset;
    background-color: unset;
    backdrop-filter: unset;
    padding: unset;
    border-radius: unset;
  }
  nav ul li {
    list-style: none;
    padding: 10px;
    border-bottom: unset;
    margin: unset;
    text-align: unset;
  }
  li a {
    color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: unset;
    width: unset;
  }
  nav img {
    padding-left: 70px;
    width: unset;
    height: unset;
    margin: 0 auto;
  }
  #click_hamburguer {
    display: none;
  }
  #click_close {
    display: none;
  }
  header > div h1 {
    font-size: 100px;
    font-weight: bold;
  }
  header > div p {
    max-width: 45%;
    margin: unset;
    line-height: unset;
    font-size: unset;
  }
  header > div button {
    font-size: 20px;
    font-weight: bold;
    border-radius: 42px;
    padding: 30px;
    width: unset;
    margin: unset;
    height: unset;
  }
  section {
    padding: 2% 3%;
    height: 100vh;
    width: unset;
    margin: unset;
  }

  section > article {
    width: 70%;
    height: 400px;
  }
  section > article > p {
    font-size: unset;
    padding: unset;
  }
  section div {
    flex-direction: row;
  }
  section div article {
    height: 70vh;
  }

  .section-servicos > div > article {
    width: 30%;
    background-image: url(../img/web/s3ft1.png);
  }

  .section-servicos > div > article:nth-child(2) {
    background-image: url(../img/web/s3ft2.png);
  }

  .section-servicos > div > article:last-child {
    background-image: url(../img/web/s3ft3.png);
  }

  .section-diferenciais > div > article {
    width: 20%;
    background-image: url(../img/web/s4ft1.png);
  }

  .section-diferenciais > div > article:nth-child(2) {
    background-image: url(../img/web/s4ft2.png);
  }

  .section-diferenciais > div > article:last-child {
    background-image: url(../img/web/s4ft3.png);
  }
  div > article > img {
    height: 25%;
    margin: 30px;
  }
  div > article > p {
    font-size: unset;
  }
  footer {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 20px 40px 20px 20px;
  }
  footer div {
    width: 40%;
  }

  footer div:nth-child(1) {
    padding: unset;
    margin-bottom: 20px;
  }
  .logos_rodape div:nth-child(2) {
    justify-content: space-between;
  }
  .contato_rodape {
    justify-content: unset;
    width: 100%;
  }
  .contato_rodape i {
    font-size: 20px;
  }
  .contato_rodape span {
    font-size: unset;
    margin: 0 15%;
  }
  .contato_rodape a {
    font-size: unset;
  }
  .local-rodape {
    width: 100%;
    margin: unset;
    margin-top: 40px;
  }
  .local-rodape img {
    width: 16px;
    height: 16px;
    align-self: center;
  }
  .local-rodape a {
    font-size: 12px;
  }
  .rodape-texto p {
    text-align: justify;
  }
  footer form {
    width: unset;
  }

  footer form input {
    height: 50px;
    font-size: 20px;
    padding: 20px;
  }

  footer form textarea {
    padding: 20px;
    font-size: 20px;
  }
}
