

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%22");

:root {
  --branco: #fff;
  --amarelo: #efe60b;
  --preto: #000;
  --cinza1: #0000001a;
  --cinza2: #00000029;
  --cinza3: #d1d1d1;
  --cinza4: #0000004d;
  --cinza5: #818181;
  --cinza6: #707070;
  --cinza7: #191919;
  --azul: #1cd4e9;
  --azul-hover: #17b5c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: var(--azul);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--branco);
  transition: background, box-shadow 1s;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
}

header {
  background-image: url(../img/web/s1ft1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
  height: 10vh;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 10px;
}

li a {
  color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

nav img {
  padding-left: 70px;
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 90vh;
}

header > div h1 {
  font-size: 100px;
  color: var(--branco);
  text-transform: uppercase;
}

header > div p {
  max-width: 45%;
  color: var(--branco);
}

header > div span {
  color: var(--amarelo);
}

header > div button {
  font-size: 20px;
  font-weight: bold;
  border-radius: 42px;
  padding: 30px;
}

section {
  padding: 2% 3%;
  height: 100vh;
}

section h1 {
  text-transform: uppercase;
  font-size: 60px;
  padding-top: 40px;
  padding-bottom: 70px;
}

section > article {
  display: flex;
  flex-direction: column;
  background-color: var(--branco);
  box-shadow: 0px 0px 50px 0px #0000004f;
  justify-content: space-between;
  width: 70%;
  padding: 2%;
  height: 400px;
}

section > article p {
  font-weight: normal;
}

section > article p:nth-child(2) {
  font-weight: bold;
}

section div {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

section div article {
  height: 70vh;
  background-color: var(--preto);
  padding: 30px;
  background-position: center 40%;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 50px 0px #0000004f;
  -webkit-box-shadow: inset 0 0 100% #000000;
  box-shadow: inset 0 0 500px #000000;
}

.section-servicos > div {
  justify-content: space-between;
}

.section-servicos > div > article {
  width: 30%;
  border-radius: 33px;
  background-image: url(../img/web/s3ft1.png);
}

.section-servicos > div > article:nth-child(2) {
  background-image: url(../img/web/s3ft2.png);
}

.section-servicos > div > article:last-child {
  background-image: url(../img/web/s3ft3.png);
}

.section-diferenciais {
  margin-bottom: 10%;
}

.section-diferenciais > div {
  justify-content: space-between;
}

.section-diferenciais > div > article {
  width: 20%;
  border-radius: 51px;
  background-image: url(../img/web/s4ft1.png);
}

.section-diferenciais > div > article:nth-child(2) {
  background-image: url(../img/web/s4ft2.png);
}

.section-diferenciais > div > article:last-child {
  background-image: url(../img/web/s4ft3.png);
}

div > article > h5 {
  color: var(--amarelo);
  font-size: 30px;
}

div > article > img {
  height: 25%;
  margin: 30px;
}

div > article > p {
  color: var(--branco);
  margin: 30px 0;
}

footer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  border-top: 40px solid var(--amarelo);
  background-color: var(--cinza7);
  border-bottom: 40px solid var(--amarelo);
  padding: 3% 5%;
  justify-content: space-between;
}

footer div {
  width: 40%;
}

.logos_rodape {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.logos_rodape img {
  width: 228px;
  height: 57px;
}

.logos_rodape div:nth-child(2) {
  display: flex;
  width: 35%;
  justify-content: space-between;
}

.logos_rodape div i {
  color: var(--branco);
}

.logos_rodape div i:nth-child(2) {
  color: #000000e6;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  align-self: center;
}

.contato_rodape {
  display: flex;
  margin-top: 5%;
  width: 100%;
}

.contato_rodape i {
  color: var(--amarelo);
  font-size: 20px;
  margin-right: 4%;
  align-self: center;
}

.contato_rodape span {
  color: var(--branco);
  margin: 0 15%;
}

.contato_rodape a {
  color: var(--branco);
}

.local-rodape {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.local-rodape img {
  width: 16px;
  height: 16px;
  align-self: center;
  margin-right: 4%;
}

.local-rodape a {
  display: flex;
  width: 100%;
  color: var(--branco);
  font-size: 12px;
}

.rodape-texto {
  width: 100%;
}

.rodape-texto p {
  margin-top: 10%;
  color: var(--branco);
  text-align: justify;
  font-weight: bold;
}

.rodape-texto p:nth-child(2) {
  color: var(--amarelo);
}

.rodape-texto p:nth-child(3) {
  color: var(--azul);
}

footer form {
  display: flex;
  flex-direction: column;
  padding: 5%;
  background-color: var(--cinza5);
  justify-content: space-between;
}

footer form input {
  height: 70px;
  margin: 20px 0;
  font-size: 30px;
  text-transform: uppercase;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

footer form textarea {
  margin: 20px 0;
  font-size: 30px;
  text-transform: uppercase;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

footer form input::-webkit-input-placeholder,
footer form textarea::-webkit-input-placeholder {
  opacity: 0.4;
}

footer form button {
  height: 70px;
  margin: 20px 0 0 0;
  font-size: 30px;
  padding: 10px;
  text-transform: uppercase;
}
